<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyASWxPQuJllbpsWC6S796QysN9_Aqd9ZJc</string>
	<key>GCM_SENDER_ID</key>
	<string>775867159923</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.book</string>
	<key>PROJECT_ID</key>
	<string>book-list-295cd</string>
	<key>STORAGE_BUCKET</key>
	<string>book-list-295cd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:775867159923:ios:ab6f42a74eb6dfce716106</string>
</dict>
</plist>